<p>Dear Adfinem Customer,</p>

<p>Thank you for registering. </p>

<p>Please confirm your email address. To complete the process of registration for your E-Mail-Adresse: 
    {{ user.username }} please click the following link <a href="{{ link }}confirm/{{ token }}">. </p>



<p>With regards,</p>
<p>Your AdFinem Team<p>