<p>Lieber Adfinem Kunde,</p>

<p>vielen Dank für Ihre Anmeldung. </p>

<p>Um Ihre Registrierung abzuschließen, bestätigen Sie bitte Ihre E-Mail-Adresse: {{ user.username }} mit Klick auf den folgenden <a href="{{ link }}confirm/{{ token }}">Link. </p>



<p>Herzliche Grüße,</p>
<p>Ihr AdFinem Team<p>